@import "github-markdown.css";

html {
  text-align: center;
  font: 1em 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
  margin: auto;
  text-align: left;
}

/** header **/

header {
  background-color: #EBEBEB;
  color:darkgoldenrod;
  margin: 0 0 2rem 0;
  padding: 1rem 0;
  border-bottom: 1px #C6C6C6 solid;
  font-size: 0.9rem;
  font-weight: normal;
}

.header-content {
  width: 50rem;
  margin: auto;
}

header h1 {
  display: flex;
  align-items: center;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

header h1 strong {
  font-weight: bold;
}

header .logo {
  height: 2rem;
  margin-right: 0.5rem;
}



/** page layout **/


main,
footer {
  max-width: 50rem;
  padding: 0 2rem;
  margin: auto;
}

footer {
  margin-top: 4rem;
  margin-bottom: 2rem;
}


main h1,
main h1 + blockquote {
  display: none;
}

footer {
  font-size: 0.8rem;
}