@import "github-markdown.css";

html {
  text-align: center;
  font: 1em 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
  margin: auto;
  text-align: left;
}

header {
  background-color: #EBEBEB;
  color: goldenrod;
  margin: 0 0 2rem 0;
  padding: 2rem 0;
  border-bottom: 1px #C6C6C6 solid;
  font-size: 0.9rem;
  font-weight: normal;
}

header h1,
main,
footer {
  max-width: 50rem;
  padding: 0 2rem;
  margin: auto;
}

footer {
  margin-top: 4rem;
  margin-bottom: 2rem;
}

header h1 {
  font-weight: normal;
}

header h1 strong {
  font-weight: bold;
}

main h1,
main h1 + blockquote {
  display: none;
}

footer {
  font-size: 0.8rem;
}